In [1]:
import pandas as pd;

In [5]:
pd.__version__

'2.2.2'

In [42]:
data = pd.Series([10,20,30,40,50,60,70])
print(data)
print()
print(data.values)
print()
print(data.index)
print()
print(data[1]) #Can be accessed and like an array
print()
print(data[0:2]) #Can be sliced and like an array

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

[10 20 30 40 50 60 70]

RangeIndex(start=0, stop=7, step=1)

20

0    10
1    20
dtype: int64

In [23]:
data = pd.Series([10,20,30,40,50,60,70], index=['a','b','c','d','e','f','g'])
print(data)

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [24]:
population_dict = {'C':323232,'Tex':3434,'NY':3242}
population = pd.Series(population_dict)
population

C      323232
Tex      3434
NY       3242
dtype: int64

In [30]:
data = pd.Series(5, index=[100,200,300])
data

100    5
200    5
300    5
dtype: int64

In [31]:
data = pd.Series({2:'a',3:'b',1:'c'})
data

2    a
3    b
1    c
dtype: object

In [29]:
data = pd.Series({2:'a',3:'b',1:'c'}, index = [2,1])
data

2    a
1    c
dtype: object

In [47]:
population_data = {
    'Population': [8419600, 3980400, 2716000, 2328000, 1690000],
    'Area (sq km)': [783.8, 1302.0, 589.6, 1625.2, 1340.6],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
}


area_data = {    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
}
print(population_data)
print()
print()
data_dict = pd.DataFrame(population_data)
city_name = 'New York'
print(data_dict.loc[data_dict['City'] == city_name])

{'Population': [8419600, 3980400, 2716000, 2328000, 1690000], 'Area (sq km)': [783.8, 1302.0, 589.6, 1625.2, 1340.6], 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}


   Population  Area (sq km)      City
0     8419600         783.8  New York